stroom-planb/stroom-planb-impl/src/test/resources/TestPlanBFilter/plan_b_v2_0.xsd

<?xml version="1.1" encoding="UTF-8"?>

<!-- UK Crown Copyright © 2016 -->
<xs:schema xmlns:pb="plan-b:2" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="plan-b:2" elementFormDefault="qualified" version="1.0">
    <xs:annotation>
        <xs:documentation>XML structure used to store data for Plan B data stores. Although reference data XML can be
            used to populate Plan B stores this schema includes structures for additional Plan B sepecific features.
        </xs:documentation>
    </xs:annotation>
    <xs:element name="plan-b">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="histogram" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:KeyPrefix" />
                                <xs:element name="time" type="pb:DateTimeSimpleType" />
                                <xs:element name="value" type="xs:positiveInteger" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="metric" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:KeyPrefix" />
                                <xs:element name="time" type="pb:DateTimeSimpleType" />
                                <xs:element name="value" type="xs:positiveInteger" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="session" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:KeyPrefix" />
                                <xs:element name="time" type="pb:DateTimeSimpleType" />
                                <xs:element name="timeout" type="pb:PeriodSimpleType" minOccurs="0" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="state" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:KeyPrefix" />
                                <xs:group ref="pb:MixedValue" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="range-state" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:Range" />
                                <xs:group ref="pb:MixedValue" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="temporal-state" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:KeyPrefix" />
                                <xs:element name="time" type="pb:DateTimeSimpleType" minOccurs="0" />
                                <xs:group ref="pb:MixedValue" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="temporal-range-state" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:group ref="pb:Range" />
                                <xs:element name="time" type="pb:DateTimeSimpleType" minOccurs="0" />
                                <xs:group ref="pb:MixedValue" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="trace" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="map" type="xs:string" />
                                <xs:element name="span" type="pb:Span" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
            <xs:attribute name="version" type="pb:VersionSimpleType" use="required" />
        </xs:complexType>
    </xs:element>
    <xs:group name="KeyPrefix">
        <xs:choice>
            <xs:element name="key" type="xs:string" />
            <xs:element name="tags" type="pb:TagsComplexType" />
        </xs:choice>
    </xs:group>
    <xs:group name="Range">
        <xs:sequence>
            <xs:element name="range">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="from" type="xs:long" />
                        <xs:element name="to" type="xs:long" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="MixedValue">
        <xs:sequence>
            <xs:element name="value">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:any minOccurs="0" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="TagsComplexType">
        <xs:annotation>
            <xs:documentation>A set of tags used for a multi part key.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="tag" maxOccurs="10">
                <xs:annotation>
                    <xs:documentation>A tag</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>The tag name.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="value" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>The tag value.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Span">
        <xs:annotation>
            <xs:documentation>Structure for spans.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="traceId" type="pb:Hex32">
                <xs:annotation>
                    <xs:documentation>The trace id (32-hex-character lowercase string).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="spanId" type="pb:Hex16">
                <xs:annotation>
                    <xs:documentation>The span id (16-hex-character lowercase string).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="parentSpanId" type="pb:Hex16" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The parent span id, optional (16-hex-character lowercase string).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="traceState" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The trace state.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="flags" type="xs:int" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A bitmask that represents options specific to the trace.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="name" type="pb:NonEmptyString">
                <xs:annotation>
                    <xs:documentation>The span name.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="kind" type="pb:SpanKind" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The span kind.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="startTimeUnixNano" type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>The start time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="endTimeUnixNano" type="xs:nonNegativeInteger">
                <xs:annotation>
                    <xs:documentation>The end time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="attributes" type="pb:keyValues" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The attributes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="droppedAttributesCount" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of dropped attributes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="events" type="pb:events" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The events.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="droppedEventsCount" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of dropped events.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="links" type="pb:links" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The links.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="droppedLinksCount" type="xs:nonNegativeInteger" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Number of dropped links.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="status" type="pb:spanStatus" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>The span status.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="spanStatus">
        <xs:annotation>
            <xs:documentation>The span status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" />
            <xs:element name="code" type="pb:StatusCode" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="keyValues">
        <xs:annotation>
            <xs:documentation>A list of key value pairs.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="pb:KeyValue" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:group name="KeyValue">
        <xs:annotation>
            <xs:documentation>A key value pair.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="keyValue">
                <xs:annotation>
                    <xs:documentation>A key value.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" type="pb:NonEmptyString">
                            <xs:annotation>
                                <xs:documentation>The key.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:group ref="pb:AnyValue" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:group name="AnyValue">
        <xs:annotation>
            <xs:documentation>A value.</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="stringValue" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A string value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="boolValue" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>A boolean value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="intValue" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>An integer value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="doubleValue" type="xs:double">
                <xs:annotation>
                    <xs:documentation>A double value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bytesValue" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A hax string used to encode bytes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="arrayValue">
                <xs:annotation>
                    <xs:documentation>A sequence of values.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence minOccurs="0">
                        <xs:group ref="pb:AnyValue" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="kvlistValue" type="pb:keyValues">
                <xs:annotation>
                    <xs:documentation>A sequence of values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:complexType name="events">
        <xs:annotation>
            <xs:documentation>A list of events.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="event" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="timeUnixNano" type="xs:nonNegativeInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>A sequence of values.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="name" type="pb:NonEmptyString" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>An event name.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="attributes" type="pb:keyValues" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The attributes.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="droppedAttributesCount" type="xs:nonNegativeInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Number of dropped attributes.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="links">
        <xs:annotation>
            <xs:documentation>A list of links.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="traceId" type="pb:Hex32">
                            <xs:annotation>
                                <xs:documentation>The trace id (32-hex-character lowercase string).</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="spanId" type="pb:Hex16">
                            <xs:annotation>
                                <xs:documentation>The span id (16-hex-character lowercase string).</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="traceState" type="xs:string" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The trace state.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="attributes" type="pb:keyValues" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>The attributes.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="droppedAttributesCount" type="xs:nonNegativeInteger" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Number of dropped attributes.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DateTimeSimpleType">
        <xs:annotation>
            <xs:documentation>This type constrains the date time format further so that it is always represented as
                'yyyy-MM-ddThh:mm:ss.sssZ'.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[\d]{4}-[\d]{2}-[\d]{2}T[\d]{2}:[\d]{2}:[\d]{2}.[\d]{3}Z" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PeriodSimpleType">
        <xs:annotation>
            <xs:documentation>This type constrains a string to represent a period, e.g. '15m'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[\d]+[hms]" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex32">
        <xs:restriction base="xs:string">
            <xs:pattern value="|[a-f0-9]{32}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Hex16">
        <xs:restriction base="xs:string">
            <xs:pattern value="|[a-f0-9]{16}" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SpanKind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSPECIFIED" />
            <xs:enumeration value="INTERNAL" />
            <xs:enumeration value="SERVER" />
            <xs:enumeration value="CLIENT" />
            <xs:enumeration value="PRODUCER" />
            <xs:enumeration value="CONSUMER" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="StatusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNSET" />
            <xs:enumeration value="OK" />
            <xs:enumeration value="ERROR" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="VersionSimpleType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+(\.[0-9]+)*" />
            <xs:enumeration value="2.0" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>