stroom-core/src/test/resources/samples/config-v2/Import_Export_Test.Folder.b4857ef0-8f3a-400a-b804-3cbaf77f6c90/Imp_exp_test_XML_schema.XMLSchema.ed1ed3e2-0633-44cd-b110-b2751fa841be.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="root">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="one" type="xs:string"/>
      <xs:element name="two" type="xs:string"/>
      <xs:element name="three" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
